@import url(./fonts.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);


/* ================== navigation ================== */
.header .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem; 
    /* up right down left */
}

.header .main-menu .navbar{
    padding: 1rem;
}

.header .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--hind);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* ================== navigation ================== */

#questionsContainer {
position: absolute;
top: 100%;
left: 10%;
width: 25%;
background-color: white;
padding: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 1000;
text-align: center;
}

.question-block{
    padding: 20px;
    margin: 15px 10px;
    background-color: #c6e2ee;
    border-radius: 10px;
}

#questionsContainer:hover{
    box-shadow: var(--box-shadow);
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: none;
}

.select.active #questionsContainer {
display: block;
}
  

/* ================== date selection ================== */
.text-box{
    width: 80%;
    color: var(--title-color);
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 40px;
    padding: 3.7rem;
}

input[type="month"] {
    background-color: #c6e2ee;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    font: var(--hind);
    color: var(--title-color), monospace;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    padding: 5px;
    cursor: pointer;
}

/* ================== date selection ================== */